*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --rojo-oscuro: rgb(61, 10, 10);
    --rojo-claro: rgb(247, 239, 239);
    --color-tarjeta:rgb(134, 84, 84);
}
body{
    font-family: 'Lato', sans-serif;
    background-color: var(--rojo-claro);
}
header{
    background-color: var(--rojo-oscuro);
    padding: 20px;
    text-align: center;
    color: white;
}

header p{
    padding-top: 10px;
}

.section-calculadora{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    margin: 30px auto;
}
.div-cuadrado, .div-circulo, .div-triangulo, .div-rectangulo{
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: var(--color-tarjeta);
    border-radius: 5px;
    color: white;
}
.div-cuadrado, .div-circulo, .div-rectangulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div h3{
    margin-block: 10px;
}

input{
    margin-block: 10px;
    padding: 8px;
    display: inline-block;
    width: 90%;
    outline: none;
    border: 1px solid rgb(194, 194, 194);
    font-weight: bold;
}
input:focus{
    box-shadow: 0 0 5px 1px rgb(126, 124, 124);
    outline: none;
    border: 1px solid rgba(182, 182, 182, 0);
}
button{
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: var(--rojo-oscuro);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}
button:hover{
    box-shadow: 0 0 5px 0.5px white;
    cursor: pointer;
    transform: scale(1.02);
}
    
.div-cuadrado p, .div-circulo p, .div-triangulo p, .div-rectangulo p{
    margin-block: 10px;
    min-height: 40px;
    font-weight: bold;
}

