*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(13, 46, 85);
    padding: 20px;
    color: white;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
}
.formIntereses{
    width: 400px;
    padding: 10px;
    margin: 20px 15px;
    background-color: rgb(237, 235, 255);
    border-radius: 10px;
    min-height: 458px;
}
.formIntereses h3{
    padding: 10px;
    background-color: rgb(27, 38, 61);
    color: white;
    width: 90%;
    border-radius: 5px;
    margin-block: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
input{
    margin-block: 10px;
    padding: 8px;
    display: inline-block;
    width: 80%;
    outline: none;
    border: 1px solid rgb(194, 194, 194);
}
input:focus{
    box-shadow: 0 0 5px 1px rgb(126, 124, 124);
    outline: none;
    border: 1px solid rgba(182, 182, 182, 0);
}
button{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(27, 38, 61);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 5px 1px rgb(126, 124, 124);
}
select{
    margin-block: 10px;
    padding: 8px;
    display: inline-block;
    width: 80%;
    outline: none;
    border: 1px solid rgb(194, 194, 194); 
    text-align: center;
}
.pIntereses{
    margin: 10px 0;
    font-weight: bold;
}